:root{
    --purple : #9747FF;
    --gray : #b81212;
    --white: #ffffff;
    --blur_white: #F0F0F2; 
    --black: #000000;
    --blurWhite: #F7F7F7;
    --semi_black: #171A1E;
    --gray_balck: #333333;
}
*{
    text-decoration: none;
}
html{
    box-sizing: border-box;
    font-size: 10px;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    line-height: 1.6rem;
    font-size: 1.4rem;
}
/* header */
.header_menu_container{
    padding: 1.1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.4rem 1.72rem 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 2.3rem;
    border-bottom-right-radius: 2.3rem;

}
.header{
    padding-left: 24rem;
    padding-right: 24rem;
    margin-top: 3.2rem;
}

.header_title{
    color: var(--purple);
    font-family: 'exo2-bold',sans-serif;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
.header_menu{
    display: flex;
    font-family: 'exo2-semibold',sans-serif;
}
.header_menus{
    margin: 0.6rem 1rem;
}
.header_text_container{
    display: flex;
    flex-direction: column;
    background-image: url("../images/png/Header.png");
    background-repeat: no-repeat;
    border-radius: 1.3rem;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header_texts{
    display: flex;
    align-items: flex-end;
    gap: 13rem;
    margin-top: 21rem;
    margin-bottom: 6.4rem;
}
.header_container2_title{
    font-family: 'exo2-semibold';
    line-height: 7rem;
    font-size: 6.5rem;
    max-width: 67rem;
}
.header_container2_text{
    font-family: 'poppins-meduim';
    margin-top: 2.4rem;
    max-width: 61.8rem;
    line-height: 2rem;
}
.text_container_button{
    border: var(--gray_balck) solid 0.1rem;
    color: var(--gray_balck);
    font-family: 'poppins-meduim';
    font-size: 1.4rem;
    padding: 1.6rem 2.5rem;
    border-radius: 1.6rem;
}
.text_container_button:hover{
    background-color: var(--purple);
    color: var(--white);
    border-color: var(--purple);
}
.main_container{
    padding-left: 24rem;
    padding-right: 24rem;
}

/* products section */

.products_container{
    margin-top: 16.4rem;
}
.products_title_bar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.products_text{
    font-family: 'poppins-meduim';
    font-size: 1.4rem;
    max-width: 40rem;
    line-height: 2rem;
    margin-top: 4rem;
    color: var(--semi_black);
}
.products_title{
    font-family: 'exo2-semibold';
    font-size: 5rem;
    color: var(--semi_black);
}
.view_all_button{
    border: var(--gray_balck) solid 0.1rem;
    color: var(--gray_balck);
    font-family: 'poppins-meduim';
    font-size: 1.4rem;
    padding: 1.6rem 2.5rem;
    border-radius: 1.6rem;
}
.view_all_button:hover{
    background-color: var(--purple);
    color: var(--white);
    border-color: var(--purple);
}
.products_cards{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}
.card_sect1,.card_sect2{
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
}
.card_image{
    background-color: var(--blurWhite);
    padding: 4.6rem 4rem;
    border-radius: 1.6rem;
}
.card_text{
    display: flex;
    margin-top: 2.1rem;
    justify-content: space-between;
    font-family: 'popins-regular';
}

/* why choose us */

.choose_us_container{
    margin-top: 16.4rem;
}
.choose_us_title_bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}

.chosse_us_title{
    font-family: 'exo2-semibold';
    font-size: 5rem;
    color: var(--semi_black);
}
.choose_us_text{
    font-family: 'poppins-meduim';
    font-size: 1.4rem;
    max-width: 47rem;
    line-height: 2rem;
    color: var(--semi_black);
}
.choose_us_wraper{
    margin-top: 3.2rem;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}
.choose_us_card{
    padding: 3.6rem 4rem 3.6rem 3rem;
    border: 0.1rem solid var(--blur_white);
    border-radius: 1.3rem;
}
.choose_us_card_title{
    margin-top: 2rem;
    font-family: 'poppins-meduim';
    font-size: 1.6rem;
}
.choose_us_card_text{
    margin-top: 1rem;
    font-family: "inter_regular";
    max-width: 25.3rem;
    font-size: 1.2rem;
}

/* stories from community */

.stories_container{
    margin-top: 16.4rem;
}
.stories_title_bar{
    display: flex;
    justify-content: center;
}
.stories_title{
    font-family: 'exo2-semibold';
    font-size: 5rem;
    color: var(--semi_black);
}

/* articles and news */

.articles_container{
    margin-top: 16.4rem;
}
.articles_title_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles_title{
    font-family: 'exo2-semibold';
    font-size: 5rem;
    color: var(--semi_black);
}

/* News letter */

.Newsletter_container{
    margin-top: 16.4rem;
    background-color: var(--blurWhite);
}
.Newsletter_wraper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.Newsletter_title{
    font-family: 'exo2-semibold';
    font-size: 3.9rem;
    max-width: 48.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 3.5rem;
}
.Newsletter_text{
    font-family: 'poppins-meduim';
    font-size: 1.4rem;
    margin-top: 2rem;
    max-width: 70.7rem;
    color: var(--gray_balck);
}
















